<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="index.js" type="text/javascript"></script>

<div class="container">

<form action="/write_data" method="post">
   <div class="form-group">
    <label for="student_id">學號</label>
    <input type="text" class="form-control" id="student_id" name="student_id" placeholder="學號">
  </div>
  <form class="form-group">
    <label for="activity_kind">活動類型</label>
    <select class="form-control" id="activity_kind" name="activity_kind" >
    <option value="tool">工具類學習</option>
    <option value="lecture">講座與延伸閱讀</option>
    <option value="art">藝文活動</option>
    <option value="other">其他具學習意涵之活動</option>
  </select>

  <form class="form-group">
    <label for="activity_name">活動名稱</label>
    <select id="activity_name" class="form-control" name="activity_name">
    </select>
  <form class="form-group">
    <label for="credit">學分</label>
    <input type="text" class="form-control" id="cedit" name="credit"  placeholder="學分數" readonly="">

  <form class="form-group">
    <label for="experience">心得</label>
    <textarea class="form-control" id="experience" rows="5"></textarea>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
